•⁠  ⁠{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

body {
  background: #0c0c0c;
  color: white;
}
.social-icons {
  display: flex;
  gap: 15px; /* مسافة بين الأزرار */
}

.social-icons a {
  width: 50px;      /* العرض */
  height: 50px;     /* الارتفاع */
  background: #222; /* لون الخلفية */
  color: white;     /* لون الأيقونة */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%; /* دائري */
  font-size: 24px;    /* حجم الأيقونة */
  text-decoration: none;
  transition: 0.3s;
}

.social-icons a:hover {
  background: #0077b5; /* لون عند المرور */
}

header {
  top: 0;
  left: 0;
  width: 100%;
  padding: 50px 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.navbar a {
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;

}
.navbar a:hover,
.navbar a.active{  
  color: #00f0c8;


  
}

header h2 span {
  color: #00ffd5;
}


header a:hover {
  color: #00ffd5;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}

.hero .info {
  max-width: 50%;
}

.hero .highlight {
  color: #00ffd5;
}

.btn {
  margin-top: 20px;
  padding: 10px 20px;
  border: 2px solid #00ffd5;
  background: transparent;
  color: #00ffd5;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background: #00ffd5;
  color: black;
}
.hero-img {
  display: flex;
  justify-content: center;
  align-items: center;

}

.my-img {
  width: 320px;
  clip-path: polygon(20% 0, 80% 0%, 100% 100%, 0% 100%,);
}

.hero-img {
  background: #00f0c8;   /* اللون الأزرق الفاتح */
  padding: 15px;
  border-radius: 40px;
  display: inline-block;
}
.image img {
  width: 300px;
  border-radius: 20px;
  animation: float 3s ease-in-out infinite;
}

/* حركة الصورة */
@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-20px); }
  100% { transform: translateY(0px); }
}